<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ section.title }} – {{ config.title }}</title>
  <link rel="stylesheet" href="/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    footer {
      text-align: center;
      padding: 3px;
    }
    header {
      text-align: center;
      padding: 3px;
    }
    main {
      max-width: 1000px ;
      margin: auto ;
    }
    .image-left {
      float: left;
      margin-right: 15px;
    }
  </style>
</head>
<body>
  <header>
    <hr width="1000px" style="height:2px;background-color:black">
    <nav>
      <a href="/">home</a> |
      <a href="/projects/">projects</a> |
      <a href="/cv/">cv</a> |
      <a href="/quotes/">quotes</a>
    </nav>
  </header>
  
  <main>
    <hr width="100%" style="height:2px;background-color:black">
    <img src="/images/my-aura.jpeg" class="image-left" ><p>{{ section.content | safe }}</p>
    <hr width="100%" style="height:2px;background-color:black">
  </main>

  <footer>
    <p>
      <a href="{{ config.extra.github }}">
        <img src="/images/github.gif" alt="github">
      </a>
      <a href="{{ config.extra.mastodon }}">
        <img src="/images/mastodon.gif" alt="mastodon">
      </a> <br>
      <a>
        <img src="/images/ilift.gif" alt="I lift">
      </a>
      <a>
        <img src="/images/soulseek.gif" alt="soulseek">
      </a>
      <a>
        <img src="/images/friendship.png" alt="friendship">
      </a>
      <a>
        <img src="/images/latex.gif" alt="latex">
      </a>
      <a>
        <img src="/images/qed.gif" alt="qed">
      </a> <br>
      <a>
        <img src="/images/foobar2000.gif" alt="foobar">
      </a>
      <a>
        <img src="/images/thevoid.gif" alt="the void">
      </a>
      <a>
        <img src="/images/train.gif" alt="train">
      </a>
      <a>
        <img src="/images/banporn.gif" alt="ban porn">
      </a>
      <a>
        <img src="/images/internet-explorer.gif" alt="internet explorer">
      </a>
    </p>
  </footer>
</body>
</html>
